<ion-content class="home-main ion-padding animate__animated animate__fadeIn">
  <h1>¡Bienvenido! {{ user?.name }}</h1>

  <app-buscador
  class="ion-margin"
    (onBuscadorProvinciasPorNombre)="buscarProvinciasPorNombre($event)"
    (onBuscarPorUbicacion)="buscarPorUbicacion($event)"
    (isSearchingBy)="cambiarTipoDeTabla($event)"
  ></app-buscador>

  <app-tabla
    [provincias]="provincias"
    [ubicacion]="ubicacion"
    [isSearchingByProvincia]="isSearchingByProvincia"
    [isSearchingByUbicacion]="isSearchingByUbicacion"
  ></app-tabla>
</ion-content>
